<head>
    <title>Sign Status</title>
    {{template "sources.html"}}
</head>



<div class="container">
    <div class="row justify-content-md-center">
        {{template "Links.html"}}
    </div>
    <div class="row">
      <div class="col-md-auto">
        <br>


<table id="myTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>User</th>
            <th>Status</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>

        {{range .}}
        <tr>
            <td>{{.User}}</td>
            <td>{{.Status}}</td>
            <td>{{.Count}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
      </div>
    </div>
  </div>
<div class="container-md">
  
<!-- Initialize the DataTables plug-in -->
<script>
$(document).ready(function() {
    $('#myTable').DataTable( {
        dom: 'Bfrti<"pull-right"p>',
        responsive: true,
        paging: true,
        pageLength: 25,
        lengthMenu: [ 10, 25, 50, 75, 100 ],
        lengthChange: true,
        buttons: [
        {
            extend: 'searchPanes',
            config: {
                layout:'columns-2',
                cascadePanes: true,
                columns: [0,1],
                deferRender: true,
                columnDefs: [
            {
                searchPanes: {
                    show: true
                },
                targets: [0, 1, 2, 3, 4, 5]
            }
        ]
            }
        },
        'copy', 'csv', 'excel', 'pdf', 'print'
        ],
       
        
    } 
    );
});
</script>