<head>
    <title>Document Download</title>
    {{template "sources.html"}}
</head>

<style>
    .alert {
  padding: 20px;
  background-color: #36f4d1; /* Red */
  color: rgb(75, 75, 75);
  margin-bottom: 15px;
}

</style>

<div class="alert">
    Only the combined document is checked if downloaded in this table. Note that this page takes a very long time to finish loading.
</div>

<div class="container">
    <div class="row justify-content-md-center">
        {{template "Links.html"}}
    </div>
    <div class="row">
      <div class="col-md-auto">
        <br>


<table id="myTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>AgreementOwner</th>
            <th>Group</th>
            <th>IsDownloaded</th>
            <th>FilePath</th>
        </tr>
    </thead>
    <tbody>

        {{range .}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.AgreementStatus}}</td>
            <td>{{.AgreementOwner}}</td>
            <td>{{.Group}}</td>
            <td>{{.IsDownloaded}}</td>
            <td>{{.FilePath}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
      </div>
    </div>
  </div>
<div class="container-md">
  
<!-- Initialize the DataTables plug-in -->
<script>
$(document).ready(function() {
  
  $('#myTable').DataTable( {
      dom: 'Bfrtip',
      responsive: true,
      pageLength: 25,
      buttons: [
      {
      extend: 'searchPanes',
      config: {
        layout:'columns-3',
        cascadePanes: true,
        deferRender: true,
        columns: [1,2,3,4],
        columnDefs: [
            {
                searchPanes: {
                    show: true
                },
                targets: [1, 2, 3, 4]
            }
        ]
      }
    },
          'copy', 'csv', 'excel', 'pdf', 'print'
      ],
     
      
  } );
});

</script>